.check-box > .box {
    -fx-background-color: white;
    -fx-border-color: #999999;
    -fx-border-width: 1.5px;
    -fx-border-radius: 3px;
    -fx-background-radius: 3px;
}

.check-box:selected > .box {
    -fx-background-color: #f6d287; 
    -fx-border-color: #f6d287;
}

.check-box:selected > .box > .mark {
    -fx-background-color: white; 
    -fx-shape: "M1.73,12.91L8.1,19.28L22.79,4.59L20.66,2.47L8.1,15.03L3.85,10.78L1.73,12.91Z";
}